<!--Página com a lista de notícias retirada dos portais-->

{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block title %}Lista de Notícias{% endblock %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Notícia</h5>

          <!-- verifica se há notícias cadastradas -->
          {% if noticias|length > 0 %}

          <!--Pesquisa por titulo-->
          <!-- Tenho quase certeza de que o erro da busca está vindo da forma
            como o trecho está sendo mandada para a view. Já tentei de vários
            modos e ainda não funcionou como esperado -->

          {% block content %}
          <form action="view.busca_noticia" method="get">
            Busca por título:
            <input type="text" name="titulo">
            <input type="submit" value="Buscar">
          </form>
          <hr>
          {% endblock %}


            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Titulo</th>
              </tr>
              </thead>
              <tbody>
              {% for noticia in noticias %}
                <tr>
                  <td>{{ noticia.titulo }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
        <!--Se não tem lista cadastrada, retorna mensagem para usuário-->
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Notícia</code> cadastrada ainda.</h5>
            </td>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}